
a.nav-brand {
	letter-spacing: 1px;
	font-size: 20px;
	color: white;
	font-weight: bold;
}

a.nav-brand img {
	max-height: 30px;
	max-width: 30px;
}

/* col-xs (extra small) */
@media (max-width: 767px) {
	#site_title {
		display: inline !important;
	}
}

li.dropdown {
	word-wrap: break-word;
}

/* Aligns elements in the left nav */
nav.nav-primary ul.nav li a i.fa {
	min-width: 20px;
}

.aside.nav-vertical ul.nav i.fa {
	width: auto;
}

/* No border on top of the calendar */
.calendar tbody, td {
	border: none !important;
}

.navbar-nav.navbar-right>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
}

#user-avatar {
	max-height: 30px;
	max-width: 30px;
	margin-right: 5px;
}

/**
 * Fixes the issue when the page becomes misaligned
 * because the user's full name is too long.
 */
.navbar-right #user-full-name {
	max-width: 120px;
	height: 15px;
}

#user-full-name {
	display: inline-block;
	height: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (max-width: 767px) {
	ul.nav i.fa {
		min-width: 20px;
	}

	#user-full-name {
		max-width: 80%;
		height: 15px;
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	form#searchbar {
		border-top: 0px;
		border-bottom: 0px;
		margin: 0px -15px;
	}
}

footer.footer .fa {
    transform:scale(1.3,1.3);
    -ms-transform:scale(1.3,1.3); /* IE 9 */
    -moz-transform:scale(1.3,1.3); /* Firefox */
    -webkit-transform:scale(1.3,1.3); /* Safari and Chrome */
    -o-transform:scale(1.3,1.3); /* Opera */
}

footer#footer a {
	color: white !important;
	text-decoration: underline;
}