a.nav-brand {
	letter-spacing: 1px;
	font-size: 20px;
	color: white;
	font-weight: bold;
}

a.nav-brand img {
	max-height: 30px;
	max-width: 30px;
}

li.dropdown {
	word-wrap: break-word;
}

/* Aligns elements in the left nav */
nav.nav-primary ul.nav li a i.fa {
	min-width: 20px;
}

.aside.nav-vertical ul.nav i.fa {
	width: auto;
}

/**
 * Fixes the issue when the page becomes misaligned
 * because the user's full name is too long.
 */
ul.navbar-right #user-full-name {
	width: 142px;
}

#user-full-name {
	display: inline-block;
	height: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (max-width: 767px) {
	ul.nav i.fa {
		min-width: 20px;
	}

	#user-full-name {
		max-width: 80%;
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	ul.dropdown-menu.animated {
		margin: 10px 0px;
	}
}

footer#footer a {
	color: white !important;
	text-decoration: underline;
}