
/* col-xs (extra small) */
@media (max-width: 768px) {
	input[type=text],
	input[type=password],
	input[type=email] {
		font-size: 100%;
	}
}

/* col-sm (small) */
@media (min-width: 768px) {
	input[type=text],
	input[type=password],
	input[type=email] {
		font-size: 110%;
	}
}

/* col-md (medium) */
@media (min-width: 992px) {
	input[type=text],
	input[type=password],
	input[type=email] {
		font-size: 130%;
	}
}

/* col-lg (large) */
@media (min-width: 1200px) {
	input[type=text],
	input[type=password],
	input[type=email] {
		font-size: 150%;
	}
}
